# Verification


## Fields

| Field                                                              | Type                                                               | Required                                                           | Description                                                        |
| ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ |
| `policy`                                                           | [Optional\<Policy>](../../models/components/Policy.md)             | :heavy_minus_sign:                                                 | Policy to indicate if the Account needs multi-factor verification. |